*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/datasources.json
server/key.js
client/media
client/userImg
nohup.out
package-lock.json
client/build2/media
client/build2/userImg
