@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-20 17:17:01
 * @version $Id$
 */

@import 'const.css';
html{
	width:100%;
	height:100%;
	background: #ececec;
	font: "Hiragino Sans GB","MicroSoft YaHei",sans-serif;
}
body{
	width:100%;
	height:100%;
	overflow: hidden;
}
#wrap,.wrap{
	width: 100%;
	height: 100%;
	position: relative;
}
.msgBox{
	/*width:100%;*/
	/*height:90%;*/
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-y: scroll;
	box-sizing:border-box;
	flex:1;
	/*border: 1px solid #fff;*/

}
.wrapBox{
	display: flex;
	flex-direction: column;
	height:100%;
}

.oneMsg{
	/*border: 2px solid #00f;*/
	padding:10px 0;
	overflow: hidden;
	padding: 0 3px;
	margin-bottom: 20px;
}
.mineMsg_img{
	float: left;
}
.otherMsg_img{
	float: right;
}
.oneText{
	font-size: 1.5em;
	line-height: 35px;
	word-break:break-all;
}
.msgWrap{
	background: #b2e969;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 5px;
	position: relative;
	max-width: 60%;
}
.mineWrap{
	float: left;
	margin-left: 10px;
}
.otherWrap{
	float: right;
	margin-right: 10px;
}
.mineWrap::after{
	content: "";
	position: absolute;
	border-right: 10px solid #b2e969;
	border-bottom: 10px solid transparent;
	border-top:10px solid transparent;
	top:8px;
	left: -7px;
}
.otherWrap::after{
	content: "";
	position: absolute;
	border-left: 10px solid #b2e969;
	border-bottom: 10px solid transparent;
	border-top:10px solid transparent;
	top:8px;
	right: -7px;
}
.formWrap{
	width: 100%;
	/*height: 60px;*/
	/*background: #00f;*/
}
.inp{
	width: 78%;
	line-height: 50px;
	height: 50px;
	font-size: 1.5em;
	border-width:0;
	padding: 0;
	padding-left: 5px;
	box-sizing:border-box;
	resize:none;
	position:absolute;
	bottom: 0;
	left:0;
}
.inp:focus{
	outline: none;
}

.sendBtn{
	height: 50px;
	width: 20%;
	padding: 0;
	font-size: 1.5em;
	border: 0;
	border-radius: 5px;
	background:#43c117;
	color: #fff;
	position: absolute;
	bottom:0;
	right:0;
}
.sendBtn:focus{
	outline: none;
}

.input_area{
	width: 80%;
	border: 2px solid #ccc;
	border-radius: 2px;
	position: absolute;
	left: 50%;
	margin-left: -40%;
	top: 30%;
	/*display: table-cell;*/
}

.input_area_line input{
	width: 100%;
	border-width: 0;
	box-sizing:border-box;
	padding: 5% 14px;
	font-size: 0.9rem;
}

.input_area_line{
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.input_area_line:last-child{
	border-bottom-width: 0;
}

.input_area_line input:focus{
	outline-width: 0;
}
.btn{
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	background-color: #43c117;
	border-width: 0;
	border-radius: 5px;
	height: 2.5rem;
	color: #fff;
	font-size: 1.3rem;
	letter-spacing: 0.5rem;
	margin-top: 20px;
	/*bottom: 35%;*/
}
.friendWrap{
	width:100%;
	height:60px;
	background: #fff;
	border-bottom:1px solid #ccc;
	padding-left: 5px;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}
.friendText{
	position: absolute;
	top:0;
	left:65px;
	width:100%;
	font-size: 1.5em;
	line-height: 60px;
	color:#000;
}
.formTop{
	width:100%;
	height:60px;
	position: relative;
}
.iconGn{
	display: inline-block;
	width:20%;
	border: 1px solid #ccc;
	padding: 0;
	margin:0;
	height:20vw;
	float: left;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-bottom: 10px;
	box-sizing: border-box;
	border-radius: 20px;
	background: #fff;

}
.iconGn_label{
	line-height: 20vw;
	text-align: center;
	font-size: 12px;
}
#fileup{
	display: none;
}
.img{
	width:150px;
}

.viewchange-enter{
	position: absolute;
	left:0;
	top: 0;
	width:100%;
	height:100%;
	transform: translateX(100%) translateZ(0);
	/*background:#f00;*/
}

.viewchange-enter-active{
	position: absolute;
	left:0;
	transition: all 0.3s ease-out;
	top:0;
	width:100%;
	height:100%;
	transform:translateX(0);
	/*background:#f00;*/
}

.viewchange-leave{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	transform: translate(0) translateZ(0);
	/*background:#f00;*/
}

.viewchange-leave-active{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	transform: translate(-100%);
	/*background:#f00;*/
	transition: all 0.3s ease-out;
}

.viewback-enter,.viewback-leave{
	position: absolute;
	/*opacity:0;*/
	width:100%;
	height:100%;
	top:0;
	left: 0;
	transform: translateZ(0);
}

.viewback-enter{
	transform: translateX(-100%);
}

.viewback-leave{
	transform: translateX(0);
}

.viewback-enter-active{
	transform: translateX(0);
	transition: all 0.3s ease-out;
}

.viewback-leave-active{
	transform: translateX(100%);
	transition: all 0.3s ease-out;
}

.setting{
	width:100px;
	height:30px;
	border: 1px solid #f00;
}

.dealPic{
	position: absolute;
	top:0;
	left:0;
	background: rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.dealCvs{
	border:1px solid #f00;
}
.tx{
	width:50px;
	height:50px;
}
.fn_area{
/*	position: absolute;
	top:0;
	left:0;*/
	padding-top: 10px;
	display: none;
	overflow: hidden;
}
.notice_tip{
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -10px;
	color:#fff;
	background: #f00;
	width:20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	font-family: arial,sans-serif;
	line-height: 20px;
	vertical-align: middle;
	border-radius: 50%;
}



































